<div class="page-content">
  {{ if .Content }}
  <article class="main-content-article">
    {{/*
    <h1>{{ .Title }}</h1>
    */}} {{ .Content }}
  </article>

  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-1") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-1") }}</div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-2") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-2") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-1") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-1") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-3") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-3") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-2") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-2") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-4") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-4") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-3") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-3") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-5") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-5") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-4") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-4") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-6") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-6") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-5") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-5") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-7") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-7") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-6") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-6") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-8") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-8") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-7") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-7") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-9") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-9") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-8") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-8") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-10") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-10") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-9") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-9") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-11") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-11") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-10") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-10") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-12") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-12") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-11") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-11") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-13") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-13") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-12") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-12") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-14") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-14") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-13") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-13") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-15") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-15") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-14") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-14") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-16") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-16") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-15") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-15") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }} {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-17") }}
  <div class="gm_block">
    <div class="container">
      <div class="gm_block-text">{{ partial "placeholder.html" (dict "page" . "position" "main-17") }}</div>
      <div class="gm_button">
        {{ if partial "placeholder-exists.html" (dict "page" . "position" "main-promo-16") }} {{ partial "placeholder.html" (dict "page" . "position" "main-promo-16") }} {{ else }} {{ partial
        "placeholder.html" (dict "page" . "position" "main-promo") }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
