{{- $limitText := .Get "limit-text" -}}
{{- $limitAmount := .Get "limit-amount" -}}

<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
    <a class="game-item-2" href="{{ .Get "link" }}" class=" active">
      <img src="{{ .Get "img" | relURL }}" alt="{{ .Get "title" }}" />
      <div class="game-item-background"></div>
      <div class="game-item__content-2">
        <h4 class="title">{{ .Get "title" }}</h4>
        {{ if .Get "limit-text" }}
        <p class="invest-info">{{ .Get "limit-text" }}</p>
         {{ end }}
        {{ if .Get "limit-amount" }}
        <p class="invest-amount">{{ .Get "limit-amount" }}</p>
        {{ end }}
      </div>
      <div class="cmn--btn active btn--md radius-0">{{ .Get "name" }}</div>
        <div class="ball"></div>
    </a>
</div>

