<section class="banner-section bg_img overflow-hidden" style="background:url('{{ .Get "img-bg" }}') center">
  <div class="container">
    <div class="banner-wrapper d-flex flex-wrap align-items-center">
      <div class="banner-content">
        <h1 class="banner-content__title">{{ .Get "title" }}</h1>
        <p class="banner-content__subtitle">{{ .Get "desc" }}</p>
        <div class="button-wrapper">
          <a href="{{ .Get "link-1" }}" class="cmn--btn active btn--lg">{{ .Get "name-1" }}</a>
          <a href="{{ .Get "link-2" }}" class="cmn--btn btn--lg">{{ .Get "name-2" }}</a>
        </div>
        <img src="{{ .Get "link-img-1" }}" alt="" class="shape1">
      </div>
      <div class="banner-thumb">
        <img src="{{ .Get "link-img-2" }}" alt="banner">
      </div>
    </div>
  </div>
</section>