<div class="features-container">
  <div class="container">
    <div class="features">
      <div class="feature">
        <i>🎰</i>
        <h3>{{ .Get "title" }}</h3>
        <br />
        <p>{{ .Get "text" }}</p>
      </div>
      <div class="feature">
        <i>⚡</i>
        <h3>{{ .Get "title1" }}</h3>
        <br />
        <p>{{ .Get "text1" }}</p>
      </div>
      <div class="feature">
        <i>🔒</i>
        <h3>{{ .Get "title2" }}</h3>
        <br />
        <p>{{ .Get "text2" }}</p>
      </div>
    </div>
  </div>
</div>
