<section class="games-section">
  <div class="container">
    <ul class="game-catalog_list">
      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_pre">
                <img src=" /images/different/flag.svg" />
              </li>
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/MDllNmIuanBn_4.webp, /images/1xbet/games/MDllNmIuanBn_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/MDllNmIuanBn.webp, /images/1xbet/games/MDllNmIuanBn_2.webp 2x" />
              <source srcset="/images/1xbet/games/MDllNmIuanBn_3.webp, /images/1xbet/games/MDllNmIuanBn_1.webp 2x" />
              <img class="gamecard_img" fetchpriority="high" src="/images/1xbet/games/MDllNmIuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Divine Fortune Black</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_pre">
                <img src=" /images/different/flag.svg" />
              </li>
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZTUxYzAuanBn_3.webp, /images/1xbet/games/ZTUxYzAuanBn_1.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZTUxYzAuanBn.webp, /images/1xbet/games/ZTUxYzAuanBn_4.webp 2x" />
              <source srcset="/images/1xbet/games/ZTUxYzAuanBn_2.webp, /images/1xbet/games/ZTUxYzAuanBn_5.webp 2x" />
              <img class="gamecard_img" fetchpriority="high" src="/images/1xbet/games/ZTUxYzAuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Danny Dollar</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_supernew">
                <img src="/images/different/new.svg" />
              </li>
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ODRkMmYuanBn_1.webp, /images/1xbet/games/ODRkMmYuanBn_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ODRkMmYuanBn.webp, /images/1xbet/games/ODRkMmYuanBn_4.webp 2x" />
              <source srcset="/images/1xbet/games/ODRkMmYuanBn_3.webp, /images/1xbet/games/ODRkMmYuanBn_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ODRkMmYuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Gates of Olympus Super Scatter</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_supernew">
                <img src="/images/different/new.svg" />
              </li>
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/YmUxYjYuanBn_5.webp, /images/1xbet/games/YmUxYjYuanBn_1.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/YmUxYjYuanBn.webp, /images/1xbet/games/YmUxYjYuanBn_4.webp 2x" />
              <source srcset="/images/1xbet/games/YmUxYjYuanBn_2.webp, /images/1xbet/games/YmUxYjYuanBn_3.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/YmUxYjYuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Rad Maxx</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/NWM0YTIucG5n_4.webp, /images/1xbet/games/NWM0YTIucG5n_1.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/NWM0YTIucG5n.webp, /images/1xbet/games/NWM0YTIucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/NWM0YTIucG5n_3.webp, /images/1xbet/games/NWM0YTIucG5n_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/NWM0YTIucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Gates of Olympus 1000</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/NWRmYWMucG5n_1.webp, /images/1xbet/games/NWRmYWMucG5n_4.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/NWRmYWMucG5n.webp, /images/1xbet/games/NWRmYWMucG5n_2.webp 2x" />
              <source srcset="/images/1xbet/games/NWRmYWMucG5n_3.webp, /images/1xbet/games/NWRmYWMucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/NWRmYWMucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Sweet Bonanza 1000</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZDg0ZWMucG5n_2.webp, /images/1xbet/games/ZDg0ZWMucG5n_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZDg0ZWMucG5n.webp, /images/1xbet/games/ZDg0ZWMucG5n_4.webp 2x" />
              <source srcset="/images/1xbet/games/ZDg0ZWMucG5n_3.webp, /images/1xbet/games/ZDg0ZWMucG5n_1.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZDg0ZWMucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Zeus vs Hades - Gods of War</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/YmQ1MjgucG5n_3.webp, /images/1xbet/games/YmQ1MjgucG5n_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/YmQ1MjgucG5n.webp, /images/1xbet/games/YmQ1MjgucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/YmQ1MjgucG5n_4.webp, /images/1xbet/games/YmQ1MjgucG5n_1.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/YmQ1MjgucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">The Dog House</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/MmY0OTkucG5n_4.webp, /images/1xbet/games/MmY0OTkucG5n_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/MmY0OTkucG5n.webp, /images/1xbet/games/MmY0OTkucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/MmY0OTkucG5n_1.webp, /images/1xbet/games/MmY0OTkucG5n_3.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/MmY0OTkucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Wild Bounty Showdown</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZjBhNGQucG5n_1.webp, /images/1xbet/games/ZjBhNGQucG5n_3.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZjBhNGQucG5n.webp, /images/1xbet/games/ZjBhNGQucG5n_4.webp 2x" />
              <source srcset="/images/1xbet/games/ZjBhNGQucG5n_2.webp, /images/1xbet/games/ZjBhNGQucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZjBhNGQucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Battle Rage</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZWY1MTYucG5n_2.webp, /images/1xbet/games/ZWY1MTYucG5n_1.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZWY1MTYucG5n.webp, /images/1xbet/games/ZWY1MTYucG5n_4.webp 2x" />
              <source srcset="/images/1xbet/games/ZWY1MTYucG5n_3.webp, /images/1xbet/games/ZWY1MTYucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZWY1MTYucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Purrrminator</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/NzllOTguanBn_4.webp, /images/1xbet/games/NzllOTguanBn_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/NzllOTguanBn.webp, /images/1xbet/games/NzllOTguanBn_2.webp 2x" />
              <source srcset="/images/1xbet/games/NzllOTguanBn_3.webp, /images/1xbet/games/NzllOTguanBn_1.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/NzllOTguanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Minotaurus</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/YjY3ZjIucG5n_2.webp, /images/1xbet/games/YjY3ZjIucG5n_4.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/YjY3ZjIucG5n.webp, /images/1xbet/games/YjY3ZjIucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/YjY3ZjIucG5n_1.webp, /images/1xbet/games/YjY3ZjIucG5n_3.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/YjY3ZjIucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Glyph Of Gods</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/YjgyYTMucG5n_1.webp, /images/1xbet/games/YjgyYTMucG5n_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/YjgyYTMucG5n.webp, /images/1xbet/games/YjgyYTMucG5n_4.webp 2x" />
              <source srcset="/images/1xbet/games/YjgyYTMucG5n_3.webp, /images/1xbet/games/YjgyYTMucG5n_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/YjgyYTMucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">The Dog House – Royal Hunt</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/NzEzOTEuanBn_4.webp, /images/1xbet/games/NzEzOTEuanBn_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/NzEzOTEuanBn.webp, /images/1xbet/games/NzEzOTEuanBn_5.webp 2x" />
              <source srcset="/images/1xbet/games/NzEzOTEuanBn_3.webp, /images/1xbet/games/NzEzOTEuanBn_1.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/NzEzOTEuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Le Bandit</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZDE4N2YucG5n_1.webp, /images/1xbet/games/ZDE4N2YucG5n_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZDE4N2YucG5n.webp, /images/1xbet/games/ZDE4N2YucG5n_3.webp 2x" />
              <source srcset="/images/1xbet/games/ZDE4N2YucG5n_2.webp, /images/1xbet/games/ZDE4N2YucG5n_4.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZDE4N2YucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">The Dog House Megaways</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_supernew">
                <img src="/images/different/new.svg" />
              </li>
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/OGEzNDcucG5n_3.webp, /images/1xbet/games/OGEzNDcucG5n_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/OGEzNDcucG5n.webp, /images/1xbet/games/OGEzNDcucG5n_4.webp 2x" />
              <source srcset="/images/1xbet/games/OGEzNDcucG5n_1.webp, /images/1xbet/games/OGEzNDcucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/OGEzNDcucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Reign of Rome</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/Y2M0NzcuanBn_2.webp, /images/1xbet/games/Y2M0NzcuanBn_3.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/Y2M0NzcuanBn.webp, /images/1xbet/games/Y2M0NzcuanBn_5.webp 2x" />
              <source srcset="/images/1xbet/games/Y2M0NzcuanBn_1.webp, /images/1xbet/games/Y2M0NzcuanBn_4.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/Y2M0NzcuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Dr. Rock &amp; the Riff Reactor</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZmQzNDgucG5n_4.webp, /images/1xbet/games/ZmQzNDgucG5n_1.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZmQzNDgucG5n.webp, /images/1xbet/games/ZmQzNDgucG5n_2.webp 2x" />
              <source srcset="/images/1xbet/games/ZmQzNDgucG5n_5.webp, /images/1xbet/games/ZmQzNDgucG5n_3.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZmQzNDgucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Life and Death</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/MzY5YWEucG5n_1.webp, /images/1xbet/games/MzY5YWEucG5n_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/MzY5YWEucG5n.webp, /images/1xbet/games/MzY5YWEucG5n_4.webp 2x" />
              <source srcset="/images/1xbet/games/MzY5YWEucG5n_3.webp, /images/1xbet/games/MzY5YWEucG5n_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/MzY5YWEucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Royal Xmass 2</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZjMxYTcucG5n_1.webp, /images/1xbet/games/ZjMxYTcucG5n_4.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZjMxYTcucG5n.webp, /images/1xbet/games/ZjMxYTcucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/ZjMxYTcucG5n_3.webp, /images/1xbet/games/ZjMxYTcucG5n_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZjMxYTcucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Great Pigsby Megaways</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/YjM5ZTYucG5n_1.webp, /images/1xbet/games/YjM5ZTYucG5n_3.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/YjM5ZTYucG5n.webp, /images/1xbet/games/YjM5ZTYucG5n_2.webp 2x" />
              <source srcset="/images/1xbet/games/YjM5ZTYucG5n_4.webp, /images/1xbet/games/YjM5ZTYucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/YjM5ZTYucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Big Bass Floats My Boat</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/Yzg4NGEucG5n_1.webp, /images/1xbet/games/Yzg4NGEucG5n_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/Yzg4NGEucG5n.webp, /images/1xbet/games/Yzg4NGEucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/Yzg4NGEucG5n_3.webp, /images/1xbet/games/Yzg4NGEucG5n_4.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/Yzg4NGEucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Le Pharaoh</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZjdmNWIucG5n_1.webp, /images/1xbet/games/ZjdmNWIucG5n_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZjdmNWIucG5n.webp, /images/1xbet/games/ZjdmNWIucG5n_2.webp 2x" />
              <source srcset="/images/1xbet/games/ZjdmNWIucG5n_4.webp, /images/1xbet/games/ZjdmNWIucG5n_3.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZjdmNWIucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Ice Princess</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/MzlmYTAucG5n_1.webp, /images/1xbet/games/MzlmYTAucG5n_5.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/MzlmYTAucG5n.webp, /images/1xbet/games/MzlmYTAucG5n_3.webp 2x" />
              <source srcset="/images/1xbet/games/MzlmYTAucG5n_2.webp, /images/1xbet/games/MzlmYTAucG5n_4.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/MzlmYTAucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Panda Strike</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZjA3NzAuanBn_1.webp, /images/1xbet/games/ZjA3NzAuanBn_4.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZjA3NzAuanBn.webp, /images/1xbet/games/ZjA3NzAuanBn_5.webp 2x" />
              <source srcset="/images/1xbet/games/ZjA3NzAuanBn_3.webp, /images/1xbet/games/ZjA3NzAuanBn_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZjA3NzAuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Crown Coins</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/NjU3ZDQuanBn_1.webp, /images/1xbet/games/NjU3ZDQuanBn_3.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/NjU3ZDQuanBn.webp, /images/1xbet/games/NjU3ZDQuanBn_4.webp 2x" />
              <source srcset="/images/1xbet/games/NjU3ZDQuanBn_2.webp, /images/1xbet/games/NjU3ZDQuanBn_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/NjU3ZDQuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Hot Money Slot</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/MDZlYjQuanBn_1.webp, /images/1xbet/games/MDZlYjQuanBn_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/MDZlYjQuanBn.webp, /images/1xbet/games/MDZlYjQuanBn_3.webp 2x" />
              <source srcset="/images/1xbet/games/MDZlYjQuanBn_5.webp, /images/1xbet/games/MDZlYjQuanBn_4.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/MDZlYjQuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">SixSixSix</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/MzNmOWIucG5n_1.webp, /images/1xbet/games/MzNmOWIucG5n_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/MzNmOWIucG5n.webp, /images/1xbet/games/MzNmOWIucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/MzNmOWIucG5n_3.webp, /images/1xbet/games/MzNmOWIucG5n_4.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/MzNmOWIucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Wisdom of Athena 1000</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/NGYzOGMucG5n_3.webp, /images/1xbet/games/NGYzOGMucG5n_4.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/NGYzOGMucG5n.webp, /images/1xbet/games/NGYzOGMucG5n_2.webp 2x" />
              <source srcset="/images/1xbet/games/NGYzOGMucG5n_1.webp, /images/1xbet/games/NGYzOGMucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/NGYzOGMucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Most Wanted</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/MTQ4MDAucG5n_1.webp, /images/1xbet/games/MTQ4MDAucG5n_3.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/MTQ4MDAucG5n.webp, /images/1xbet/games/MTQ4MDAucG5n_2.webp 2x" />
              <source srcset="/images/1xbet/games/MTQ4MDAucG5n_5.webp, /images/1xbet/games/MTQ4MDAucG5n_4.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/MTQ4MDAucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Bill &amp; Coin</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZDIzNzIuanBn_4.webp, /images/1xbet/games/ZDIzNzIuanBn_1.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZDIzNzIuanBn.webp, /images/1xbet/games/ZDIzNzIuanBn_3.webp 2x" />
              <source srcset="/images/1xbet/games/ZDIzNzIuanBn_5.webp, /images/1xbet/games/ZDIzNzIuanBn_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZDIzNzIuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Slotomoji</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/MTRiYjUucG5n_1.webp, /images/1xbet/games/MTRiYjUucG5n_3.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/MTRiYjUucG5n.webp, /images/1xbet/games/MTRiYjUucG5n_4.webp 2x" />
              <source srcset="/images/1xbet/games/MTRiYjUucG5n_5.webp, /images/1xbet/games/MTRiYjUucG5n_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/MTRiYjUucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Hot Devil Slot</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/YTlkMTgucG5n_1.webp, /images/1xbet/games/YTlkMTgucG5n_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/YTlkMTgucG5n.webp, /images/1xbet/games/YTlkMTgucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/YTlkMTgucG5n_4.webp, /images/1xbet/games/YTlkMTgucG5n_3.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/YTlkMTgucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Gates of Olympus</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZWVhODkucG5n_1.webp, /images/1xbet/games/ZWVhODkucG5n_4.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZWVhODkucG5n.webp, /images/1xbet/games/ZWVhODkucG5n_3.webp 2x" />
              <source srcset="/images/1xbet/games/ZWVhODkucG5n_2.webp, /images/1xbet/games/ZWVhODkucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZWVhODkucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Sweet Bonanza</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/OTg5YTEucG5n_1.webp, /images/1xbet/games/OTg5YTEucG5n_4.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/OTg5YTEucG5n.webp, /images/1xbet/games/OTg5YTEucG5n_3.webp 2x" />
              <source srcset="/images/1xbet/games/OTg5YTEucG5n_5.webp, /images/1xbet/games/OTg5YTEucG5n_2.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/OTg5YTEucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Aloha Fruit Bonanza</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZGI2YjMucG5n_2.webp, /images/1xbet/games/ZGI2YjMucG5n_3.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZGI2YjMucG5n.webp, /images/1xbet/games/ZGI2YjMucG5n_4.webp 2x" />
              <source srcset="/images/1xbet/games/ZGI2YjMucG5n_1.webp, /images/1xbet/games/ZGI2YjMucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZGI2YjMucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Money Train 4</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/NGZjODYucG5n_1.webp, /images/1xbet/games/NGZjODYucG5n_2.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/NGZjODYucG5n.webp, /images/1xbet/games/NGZjODYucG5n_5.webp 2x" />
              <source srcset="/images/1xbet/games/NGZjODYucG5n_3.webp, /images/1xbet/games/NGZjODYucG5n_4.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/NGZjODYucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Big Stack Lumberjack</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ZjhhNzEuanBn_2.webp, /images/1xbet/games/ZjhhNzEuanBn_1.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ZjhhNzEuanBn.webp, /images/1xbet/games/ZjhhNzEuanBn_3.webp 2x" />
              <source srcset="/images/1xbet/games/ZjhhNzEuanBn_4.webp, /images/1xbet/games/ZjhhNzEuanBn_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ZjhhNzEuanBn.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Area 69</div>
        </div>
      </li>

      <li class="game-catalog_list-item">
        <div class="gamecard">
          <div class="gamecard_window">
            <ul class="gamecard_flags">
              <li class="game_flag game_flag_favorite">
                <img src="/images/different/hard.svg" />
              </li>
            </ul>
            <picture>
              <source media="(min-width: 1025px)" srcset="/images/1xbet/games/ODQwYmEucG5n_2.webp, /images/1xbet/games/ODQwYmEucG5n_4.webp 2x" />
              <source media="(min-width: 669px)" srcset="/images/1xbet/games/ODQwYmEucG5n.webp, /images/1xbet/games/ODQwYmEucG5n_3.webp 2x" />
              <source srcset="/images/1xbet/games/ODQwYmEucG5n_1.webp, /images/1xbet/games/ODQwYmEucG5n_5.webp 2x" />
              <img class="gamecard_img" loading="lazy" src="/images/1xbet/games/ODQwYmEucG5n.webp" />
            </picture>
            <div class="gamecard_links">
              <a class="gamecard_play btn_approve_small" href='{{ .Get "link" }}'>
                <span>Играть</span>
              </a>
              <a class="gamecard_demo" href='{{ .Get "link" }}'>
                <span>Демо</span>
              </a>
            </div>
          </div>
          <div class="gamecard_title">Pine of Plinko Dream Drop</div>
        </div>
      </li>
    </ul>
  </div>
</section>
