{{ $panelData := index (where site.Data.placeholders "position" "panel") 0 }} {{ with $panelData }}
<div class="media-block">
  <div class="media-image">
    <img src="/images/different/dm_plinko.png" alt="plinko" />
    <a href="{{ .link }}" class="live-button media-image_btn">
      <span>Играть</span>
      <svg class="live-arrow" data-v-ea610df3="" width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" class="right-icon ml-1 text-white transition-none text-white">
        <use xlink:href="#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
  </div>
</div>
{{ end }}
