<footer class="footer2 footer-background-2">
  <div class="container">
    <div class="footer2-wrapper">{{ partial "placeholders/menu-footer.html" . }}</div>
  </div>
</footer>

<div class="site-footer footer-background-2">
  <div class="container">
    <div class="footer-container">
      <div class="footer-column footer-color-1">{{ partial "placeholder.html" (dict "page" . "position" "footer-1") }}</div>
      <div class="footer-column footer-color-1">{{ partial "placeholder.html" (dict "page" . "position" "footer-2") }}</div>
    </div>
  </div>
</div>

<div class="limit bottom" style="width: 100%">
  <div class="limit__content footer-color-limit footer-background-limit" style="font-size: 18px; font-weight: 600">
    <div class="limit__text d-flex justify-content-center">18+</div>
  </div>
</div>
